version: '3'
services:
  node-app:
    container_name: wechat-api-proxy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
    
